<!-- ABOUT SECTION -->
  <section class="about-section" id="about">
    <div class="w-container about-container">
      <h2 data-ix="scroll-fade-out-20">About Autowala Matic</h2>
      <div class="hero-line" data-ix="scroll-fade-out-21"></div>
      <div class="subtex" data-ix="scroll-fade-out-22">Autowala Matic is a Creative Media House offering insightful approaches in the field of film making, photography, advertising and designing.</div>
      <img src="images/website.png" alt="website.jpg"
      data-ix="scroll-fade-out-23">
    </div>
  </section><!-- end about section -->