<!-- ABOUT SECTION -->
  <section class="about-section" id="about">
    <div class="w-container about-container">
      <h2 data-ix="scroll-fade-out-20">ABOUT UNIQUE</h2>
      <div class="hero-line" data-ix="scroll-fade-out-21"></div>
      <div class="subtex" data-ix="scroll-fade-out-22">We see the world in many different ways just like consumers, which helps us understand them!</div>
      <img src="images/responsive.jpg" alt="responsive.jpg"
      data-ix="scroll-fade-out-23">
    </div>
  </section><!-- end about section -->