<!-- CONTACT SECTION -->
  <section class="contact-section" id="contact">
    <div class="w-container">
      <h2 data-ix="scroll-fade-out-20">GET IN TOUCH WITH US</h2>
      <div class="hero-line" data-ix="scroll-fade-out-21"></div>
      <div class="w-row row form">
        <div class="w-col w-col-8">
          <div class="">
            <form class="form" id="email-form" method="POST" name="email-form" data-name="Email Form" data-ix="scroll-fade-from-left">
              <label class="field-label" for="name">Your Name*</label>
              <input class="w-input text-field" id="name" type="text" name="name" data-name="Name" required>
              <label class="field-label" for="email">Email Address*</label>
              <input class="w-input text-field" id="email" type="email" name="email" data-name="Email" required>
              <label class="field-label" for="subject">Subject</label>
              <input class="w-input text-field" id="subject" type="text" name="subject" data-name="Subject">
              <label class="field-label" for="text-area">Your Message*</label>
              <textarea class="w-input text-area" id="text-area" name="message" required data-name="Text Area"></textarea>
              <button class="w-button submit-button" type="submit">Submit Message</button>
            </form>
            <div id="result"></div>
            <!--div class="success-message">
              <p class="seuccses">Thank you! Your submission has been received!</p>
            </div>
            <div class="error-message">
              <p class="from">Oops! Something went wrong while submitting the form :(</p>
            </div-->
          </div>
        </div>
        <div class="w-col w-col-4 column-work" data-ix="scroll-fade-from-right">
          <div class="small-tittle">unique digital agency</div>
          <p class="left"><span class="darker">Phone:</span> +1 046 244 39 12
            <br><span class="darker">Fax:&nbsp;</span>+1 046 244 39 15
            <br><span class="darker">Email:</span>&nbsp;email@company.com
            <br><span class="darker">Adresse:</span> 350 Fourth Avenue, 34th floor New York, USA</p>
          <div class="small-tittle">Work hours</div>
          <p class="left"><span class="darker">Monday - Friday:</span> 9am - 4pm
            <br><span class="darker">Saturday:</span> 9am - 1pm
            <br><span class="darker">Sunday:</span> closed</p>
        </div>
      </div>
    </div>
    <div class="map-section"><!-- locate us on map now div -->
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4 hero-column">
            <div class="line-hero map"></div>
            <div class="line-hero map"></div>
          </div>
          <div class="w-col w-col-4 hero-column"><a class="button location" href="#map" data-ix="hide-and-show">Locate us one map now</a>
          </div>
          <div class="w-col w-col-4">
            <div class="line-hero map"></div>
            <div class="line-hero map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="map-wrapper" data-ix="new-interaction">
      <div class="w-widget w-widget-map" data-widget-latlng="40.673718,-73.986033" data-widget-style="roadmap" data-widget-zoom="12"></div>
    </div><!-- end locate us on map now div -->
  </section><!-- end contact section -->