<!-- FEATURES SECTION -->
  <section class="retina-section" id="features">
    <div class="w-container features-container">
      <div class="w-row features-row top">
        <div class="w-col w-col-5 col" data-ix="scroll-fade-from-left">
          <h2 class="lft">Powerful responsive</h2>
          <div class="hero-line left"></div>
          <p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
          <div class="div-left"><a class="button black" href="#">purcahse unique now!</a>
          </div>
        </div>
        <div class="w-col w-col-7">
          <img class="ipad" src="images/ipad.jpg" width="750" alt="ipad.jpg" data-ix="scroll-fade-from-right">
        </div>
      </div>
      <div class="divder" data-ix="scroll-line-from-left-2"></div>
      <div class="w-row features-row">
        <div class="w-col w-col-7">
          <img class="macbook" src="images/laptop.jpg" width="540" alt="laptop.jpg" data-ix="scroll-fade-from-left">
        </div>
        <div class="w-col w-col-5 col" data-ix="scroll-fade-from-right">
          <h2 class="lft">REtina ready</h2>
          <div class="hero-line left"></div>
          <p class="left">Consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
          <div class="div-left"><a class="button gray" href="#">what u are waiting for</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- end features section -->