<!-- FOOTER -->
  <footer class="section">
    <div class="footer" id="footer">
      <div class="w-container">
        <div class="social-div in-footer">
          <a class="w-inline-block social fa fa-twitter" href="#"></a>
          <a class="w-inline-block social fa fa-facebook" href="#"></a>
          <a class="w-inline-block social fa fa-linkedin" href="#"></a>
          <a class="w-inline-block social fa fa-pinterest" href="#"></a>
        </div>
        <img class="logo_footer" src="images/logo_footer.png" alt="logo_footer.png">
        <div class="footer_copyright">Woozy Theme | Truly&nbsp;premium HTML Template</div>
      </div>
    </div>
  </footer><!-- end footer -->
  <!-- JQUERY SCRIPTS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "js/woozy.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "js/jquery.countTo.js" | prepend:site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "js/form.js" | prepend: site.baseurl }}"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <script>
    $(document).scroll(function () { "use strict";
        var y = $(this).scrollTop();
        if (y >= 300) {
            $('.dot-container').fadeIn();
        } else {
            $('.dot-container').fadeOut();
        }
    });
  </script>
  <script>
    $(window).load(function () { "use strict";
        $('.loading').fadeOut();
    });
  </script>
  
  <script type="text/javascript"><!--
    $('.timer').countTo();
	//--></script>