<!-- FUNFACTS SECTION --> 
  <section class="section-facts">
    <div class="w-row funfacts-row">
      <div class="w-col w-col-2 team-column">
        <h3><span class="timer" data-from="0" data-to="1240" data-speed="15000">1240</span></h3>
        <div class="fun-line"></div>
        <div class="sub-text">Pizzas ordered</div>
      </div>
      <div class="w-col w-col-2 team-column">
        <h3><span class="timer" data-from="0" data-to="95" data-speed="15000">95</span>%</h3>
        <div class="fun-line"></div>
        <div class="sub-text">Positive feedback</div>
      </div>
      <div class="w-col w-col-2 team-column">
        <h3><span class="timer" data-from="0" data-to="131" data-speed="15000">131</span></h3>
        <div class="fun-line"></div>
        <div class="sub-text">Projects completed</div>
      </div>
      <div class="w-col w-col-2 team-column">
        <h3><span class="timer" data-from="0" data-to="2691" data-speed="15000">2691</span></h3>
        <div class="fun-line"></div>
        <div class="sub-text">lines of code</div>
      </div>
      <div class="w-col w-col-2 team-column">
        <h3><span class="timer" data-from="0" data-to="742" data-speed="15000">742</span></h3>
        <div class="fun-line"></div>
        <div class="sub-text">coops of coffe</div>
      </div>
      <div class="w-col w-col-2">
        <h3><span class="timer" data-from="0" data-to="200" data-speed="15000">200</span></h3>
        <div class="fun-line"></div>
        <div class="sub-text">ticket responded</div>
      </div>
    </div
  ></section><!-- end funfacts section -->
  <!-- color line -->
  <div class="color-line">
    <div class="w-row line-row">
      <div class="w-col w-col-2 color-one"></div>
      <div class="w-col w-col-2 color-two"></div>
      <div class="w-col w-col-2 color-three"></div>
      <div class="w-col w-col-2 color-five"></div>
      <div class="w-col w-col-2 color-four"></div>
      <div class="w-col w-col-2 color-six"></div>
    </div>
  </div><!-- end color line div -->