
<!-- start slider -->
  <header class="header" id="home">
    <div class="shadow"></div>
    <div class="fixed-text">
      <div class="w-container slider-container">
        <div class="first_text" data-ix="fade-from-left">Film Making | Photography | Advertising | Design for &nbsp;- business and corporates</div>
        <div class="dots_line" data-ix="line-from-left"></div>
        <div class="w-slider slider_home" data-animation="outin" data-duration="800" data-infinite="1" data-delay="8000" data-autoplay="1">
          <div class="w-slider-mask">
            <div class="w-slide slide-1-home"><!-- slide 1 -->
              <div class="tittle_text" data-ix="fade-down-12">Capturing <span class="light">Moments</span> is the new<span class="light">Strategy</span>
              </div>
            </div>
            <div class="w-slide slide-2-home"><!-- slide 2 -->
              <div class="tittle_text slide_2"><span class="light">Building</span> Brands
                <br>That Tell a <span class="light">Story</span>
              </div>
            </div>
            <div class="w-slide slide-3-home"><!-- slide 3 -->
              <div class="tittle_text" data-ix="fade-down-12"><span class="light">Turning</span> Simplicity Into an <span class="light">Experience</span>
              </div>
            </div>
          </div>
          <div class="w-slider-arrow-left hide-arrow">
            <div class="w-icon-slider-left"></div>
          </div>
          <div class="w-slider-arrow-right hide-arrow">
            <div class="w-icon-slider-right"></div>
          </div>
          <div class="w-slider-nav w-round slide-nav"></div>
        </div><a class="button slider" href="#about" data-ix="pop-up-7">tell me more</a>
      </div>
    </div><!-- end slider -->

		<!-- start dots navigation -->
    <div class="w-hidden-medium w-hidden-small w-hidden-tiny dot-container" id="hide">
      <a class="w-inline-block dot-link" href="#home"></a>
      <a class="w-inline-block dot-link" href="#about"></a>
      <a class="w-inline-block dot-link" href="#team"></a>
      <a class="w-inline-block dot-link" href="#service"></a>
      <a class="w-inline-block dot-link" href="#project"></a>
      <a class="w-inline-block dot-link" href="#features"></a>
      <a class="w-inline-block dot-link" href="#contact"></a>
    </div><!-- end dots navigation -->
  </header>





