<!-- HERO SECTION -->
  <section class="hero-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 hero-column">
          <div class="line-hero"></div>
          <div class="line-hero"></div>
        </div>
        <div class="w-col w-col-4 hero-column"><a class="button hero" href="#">I’M Happy, BUY unique NOW!</a>
        </div>
        <div class="w-col w-col-4">
          <div class="line-hero"></div>
          <div class="line-hero"></div>
        </div>
      </div>
    </div><!-- end hero work -->
  </section>