<!-- navigation -->
  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="social-div">
      <a class="w-inline-block social fa fa-twitter" href="#" data-ix="fade-down-9"></a>
      <a class="w-inline-block social fa fa-pinterest" href="#" data-ix="fade-down-10"></a>
      <a class="w-inline-block social fa fa-facebook" href="#" data-ix="fade-down-11"></a>
    </div>
    <div class="w-container container-nav">
      <a class="w-nav-brand brand" href="#home" data-ix="fade-down"><!-- here is the logo -->
        <img class="logo" src="images/1474445_1439127912965352_67953474_n.png" width="179" alt="logo.png" data-ix="fade-down">
      </a>
      <!-- nav tag -->
      <nav class="w-nav-menu nav" role="navigation"><a class="w-nav-link nav-link" href="#home" data-ix="fade-down-2">Home</a><a class="w-nav-link nav-link" href="#about" data-ix="fade-down-3">About</a><a class="w-nav-link nav-link" href="#team" data-ix="fade-down-4">People</a><a class="w-nav-link nav-link"
        href="#service" data-ix="fade-down-5">What We do?</a><a class="w-nav-link nav-link" href="#project" data-ix="fade-down-6">Projects</a><a class="w-nav-link nav-link" href="#features" data-ix="fade-down-7">Join Us</a><a class="w-nav-link nav-link"
        href="#contact" data-ix="fade-down-8">Contact</a>
      </nav>
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div><!-- end navigation -->