<!-- SERVICE SECTION -->
  </section>
  <section class="service-section" id="service">
    <div class="w-container">
      <h2 data-ix="scroll-fade-out-20">what we do</h2>
      <div class="hero-line" data-ix="scroll-fade-out-21"></div>
      <div class="subtex" data-ix="scroll-fade-out-22">We love what we do and we promise&nbsp;to give you the best!</div>
      <div class="w-row service-row">
        <div class="w-col w-col-4" data-ix="scroll-pop-up-2">
          <div class="icon fa fa-eye fa-3x"></div>
          <h5>Design/Build Services</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
        <div class="w-col w-col-4" data-ix="scroll-pop-up-3">
          <div class="icon fa fa-camera-retro fa-3x"></div>
          <h5>beauty portfolio</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
        <div class="w-col w-col-4" data-ix="scroll-pop-up-4">
          <div class="icon fa fa-laptop fa-3x"></div>
          <h5>responsive design</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
      </div>
      <div class="divder" data-ix="scroll-line-from-left"></div>
      <div class="w-row service-row other">
        <div class="w-col w-col-4" data-ix="scroll-pop-up-5">
          <div class="icon fa fa-magic fa-3x"></div>
          <h5>magic parallax</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
        <div class="w-col w-col-4" data-ix="scroll-pop-up-6">
          <div class="icon fa fa-trophy fa-3x"></div>
          <h5>Commercial Development</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
        <div class="w-col w-col-4" data-ix="scroll-pop-up-7">
          <div class="icon fa fa-exchange fa-3x"></div>
          <h5>CSS3 animation</h5>
          <p>&nbsp;Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.&nbsp;</p>
        </div>
      </div>
      <div class="wrap-button"><a class="button" href="#project" data-ix="scroll-pop-up">Interested? see our porjects</a>
      </div>
    </div>
    </section><!-- end service section -->