<!-- TESTIMONIALS SECTION -->
  <section class="testimonials-section">
    <div class="w-container container">
      <h2>what they say</h2>
      <div class="hero-line"></div>
      <div class="w-slider testimonials-slider" data-animation="cross" data-duration="500" data-infinite="1" data-hide-arrows="1" data-easing="ease-in-out">
        <div class="w-slider-mask slidermask">
          <div class="w-slide">
            <div class="text-testimonials"><!-- slide 1 -->
              <div class="textimonials-say">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea.</div>
              <div class="testimonials-name">John Doe</div>
            </div>
          </div>
          <div class="w-slide">
            <div class="text-testimonials"><!-- slide 2 -->
              <div class="textimonials-say">Nam leo odio, venenatis vel ligula vitae, placerat aliquam tortor. In massa erat, condimentum vel posuere vitae, placerat id magna.</div>
              <div class="testimonials-name">Tony Lamp – <span class="testimonials-website">www.yourwebsite.com</span>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="text-testimonials"><!-- slide 3 -->
              <div class="textimonials-say">Processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</div>
              <div class="testimonials-name">mary jane</div>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left left-arrow"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right right-arrow"></div>
        </div>
      </div>
    </div>
  </section><!-- end testimonials section -->