<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
	 
  {% include preloader.html %}
  
  	{% include navigation.html %}


    {% include header.html %}
    
    	{% include about.html %}
    	
    	{% include team.html %}
    	{% include services.html %}
    	{% include funfacts.html %}
    	{% include work.html%}
    	{% include tabletwork.html %}
    	{% include testi.html %}
    	{% include faeture.html %}
    	{% include logo.html %}
    	{% include getintouch.html %}
    	{% include contact.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
